<section class="container admin-form">
    <div class="col-12 col-lg-8 m-auto">
        <p>{{#if this.modal}}Update Show{{else}}Add Show{{/if}}</p>
        <form method="POST" 
        {{#if this.modal}}
            action="/updateshow" class="update" 
        {{else}}
            action="/show" class="add" 
        {{/if}}
        >
            {{#if this.modal}}<input name="_id" type="hidden">{{/if}}
            <input name="location" type="text" placeholder="Location">
            <label for="date">Date</label>
            <input name="date" type="date" id="date" placeholder="Date (mm/dd/yyyy)">
            <input name="link" type="url" placeholder="Link">
            <button type="submit" class="button submit-show">{{#if this.modal}}Update{{else}}Submit{{/if}}</button>
        </form>
    </div>
</section>