<section class="container admin-form">
    <p>{{#if this.modal}}Update Show{{else}}Add Show{{/if}}</p>
    <form method="POST" 
    {{#if this.modal}}
        action="/updateshow" class="update" 
    {{else}}
        action="/show" class="add" 
    {{/if}}
    >
        {{#if this.modal}}<input name="_id" type="hidden">{{/if}}
        <input name="location" type="text" placeholder="Location">
        <input name="date" type="date" placeholder="Date (mm/dd/yyyy)">
        <input name="link" type="url" placeholder="Link">
        <button type="submit" class="button submit-show">{{#if this.modal}}Update{{else}}Submit{{/if}}</button>
    </form>
</section>