<section class="container messages">
    {{#if success_msg}}
        {{#each success_msg}}
        <div class="col-12 message success">
            <span>{{this}}</span>
        </div>
        {{/each}}
    {{/if}}
    {{#if error_msg}}
        {{#each error_msg}}
        <div class="col-12 message error">
            <span>{{this}}</span>
        </div>
        {{/each}}
    {{/if}}
</section>