<ul class="social">
    <li class="d-inline-block"><a href="https://www.facebook.com/nervousmonks/" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li class="d-inline-block"><a href="https://www.instagram.com/nervousmonks/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li class="d-inline-block"><a href="https://soundcloud.com/nervousmonks" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
    <li class="d-inline-block"><a href="https://nervousmonks.bandcamp.com/releases" target="_blank"><i class="fab fa-bandcamp"></i></a></li>
</ul>