$black: black;
$coral:#ff6f69;
$grey: #b0b0b0;
$lightyellow:#ffeead;
$turquoise: #b3ecec;
$white: white;

$bandcampGreen: #629aa9;
$facebookBlue: #3b5998;
$soundcloudOrange: #ff8800;
$instagramPurple: #833ab4;

$errorMsgBkgColor: #fff3cd;
$errorMsgBorderColor: #ffeeba;
$errorMsgFontColor: #856404;
$successMsgFontColor: #155724;
$successMsgBorderColor: #c3e6cb;
$successMsgBkgColor: #d4edda;