<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nervous Monks Admin</title>
    <!--MISC META TAGS -->
    <meta name="description" content="Offical website for the band Nervous Monks - Admin">
    <!--APPLE MOBILE META TAGS -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
    <!--CSS LIBRARIES -->
    <link rel="stylesheet" type="text/css" href="assets/lib.min.css">
    <!--LOCAL CSS -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <!--VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON -->
    <link rel="icon" type="image/ico" href="assets/images/favicon.png">
    <!--FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!--GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Questrial" rel="stylesheet">
</head>

<body>
    <h1>Welcome to the admin you fuck!</h1>

    <section class="container shows">
        <h2>Shows</h2>
        {{{body}}}
    </section>

    <!--minified & concat JS libraries -->
    <script src="assets/lib.min.js"></script>
    <!--minified & concat JS file -->
    <script src="assets/all.min.js"></script>
</body>

</html>
