<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nervous Monks Admin</title>
    <!--MISC META TAGS -->
    <meta name="description" content="Offical website for the band Nervous Monks - Admin">
    <!--APPLE MOBILE META TAGS -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
    <!--BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--CSS LIBRARIES -->
    <link rel="stylesheet" type="text/css" href="assets/lib.min.css">
    <!--LOCAL CSS -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <!--VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON -->
    <link rel="icon" type="image/ico" href="assets/images/favicon.png">
    <!--FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!--GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Questrial" rel="stylesheet">
</head>

<body class="admin">
    <h1>Welcome to the admin you fuck!</h1>

    <section class="container admin-form">
        <form>
            <div class="form-group">
                <label for="show-location">Location</label>
                <input type="text" class="form-control" id="show-location" placeholder="Location">
            </div>
            <div class="form-group">
                <label for="show-date">Date</label>
                <input type="date" class="form-control" id="show-date" placeholder="Date">
            </div>
            <div class="form-group">
                <label for="show-link">Link</label>
                <input type="url" class="form-control" id="show-link" placeholder="Link">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-light">Submit</button>
            </div>
        </form>
    </section>

    <section class="container shows">
        <h2>Shows</h2>
        {{{body}}}
    </section>

    <!--minified & concat JS libraries -->
    <script src="assets/lib.min.js"></script>
    <!--minified & concat JS file -->
    <script src="assets/all.min.js"></script>
</body>

</html>
