<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nervous Monks</title>
    <!--MISC META TAGS -->
    <meta name="description" content="Offical website for the band Nervous Monks">
    <!--APPLE MOBILE META TAGS -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
    <!--CSS LIBRARIES -->
    <link rel="stylesheet" type="text/css" href="assets/lib.min.css">
    <!--LOCAL CSS -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <!--VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON -->
    <link rel="icon" type="image/ico" href="assets/images/favicon.png">
    <!--FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!--GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Questrial" rel="stylesheet">
    <!--OPEN GRAPH -->
    <meta property="og:title" content="Nervous Monks Band"/>
    <meta property="og:description" content="Offical website for the band Nervous Monks"/>
    <meta property="og:url" content="http://www.nervousmonks.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/assets/images/nervous_monks_leaf.jpg"/>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-57Q2W4N');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57Q2W4N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{{body}}}

    <!--minified & concat JS libraries -->
    <script src="assets/lib.min.js?v=01111901"></script>
    <!--minified & concat JS file -->
    <script src="assets/all.min.js?v=01111901"></script>
</body>

</html>
