<section id="admin">
    <h1>Welcome to the admin you fuck!</h1>

    <section class="container admin-form">
         <form>
            <input type="text" id="show-location" placeholder="Location">
            <input type="date" id="show-date" placeholder="Date">
            <input type="url" id="show-link" placeholder="Link">
            <button type="submit" class="button submit-show">Submit</button>
        </form>
    </section>

    <section class="container shows">
        <h2>Shows</h2>
        {{> shows}}
    </section>
</section>