<section id="home">
    <nav class="container">
        <h1>Nervous Monks</h1>
        {{> social}}
        <h2 class="contact"><a href="mailto:nervousmonks@gmail.com">Contact</a></h2>
    </nav>

    <section class="container shows">
        <h2>Shows</h2>
        {{> shows}}
    </section>
</section>