#admin {
    background: $white;
    text-align: center;

    .admin-form {
        margin: 50px auto;

        input {
            margin: 20px auto;
        }

        button.submit-show {
            background: $turquoise;
        }
    }

    .shows {
        button.edit {
            background: $lightyellow;
        }

        button.delete {
            background: $coral;
        }
    }

    #edit-modal {
        .details {
            .title {
                color: $black;
            }
        }
    }
}