section.messages {
  margin-top: 50px;

  .message {
    padding: .75rem 1.25rem;
    padding-right: 4rem;
    text-align: left;

    &.success {
      background: $successMsgBkgColor;
      border: 1px solid $successMsgBorderColor;

        span {
          color: $successMsgFontColor;
        }

    }
    &.error {
      background: $errorMsgBkgColor;
      border: 1px solid $errorMsgBorderColor;

        span {
          color: $errorMsgFontColor;
        }
    }
  }
}