ul.social {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
        padding: 20px;

        i {
            color: $black;
            font-size: 32px;
            transition: $transition-color;

            &.fa-facebook {
                &:hover {
                    color: $facebookBlue;
                }
            }
            &.fa-bandcamp {
                &:hover {
                    color: $bandcampGreen;
                }
            }
            &.fa-soundcloud {
                &:hover {
                    color: $soundcloudOrange;
                }
            }
            &.fa-instagram {
                &:hover {
                    color: $instagramPurple;
                }
            }
        }
    }
}